[submodule "glfw"]
	path = glfw
	url = https://github.com/elmindreda/glfw.git
[submodule "joemath"]
	path = joemath
	url = git@github.com:expipiplus1/joemath.git
[submodule "joelang"]
	path = joelang
	url = git@github.com:expipiplus1/joelang.git
[submodule "glee"]
	path = glee
	url = ssh://jophish@glee.git.sourceforge.net/gitroot/glee/glee
[submodule "ucpp"]
	path = ucpp
	url = git@github.com:expipiplus1/ucpp.git
